/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
.logo-img {
  padding: 30px 0 10px 0;
}

#zone-branding-wrapper,
#region-header-first {
  background: #fff;
}

#zone-header-wrapper {
  background-image: url(../images/body-back.png);
  background-repeat: repeat-x;
}

#zone-content {
  background: #fff;
  padding-top: 20px;
}

/** STYLES **/
body {
  background: #3c3c3c;
  word-wrap: break-word;
}

h1, 
h2, 
h3,
h4,
h5,
h6 {
  color: #070707;
  font-family: gentium;
  font-weight: normal;
  letter-spacing: 0px;
}

h1 {
  font-size: 50px;
  line-height: 51px;
}

h2,
h2 a:link,
h2 a:visited {
  font-size: 40px;
  line-height: 42px;
  margin-bottom: 0px;
  text-decoration: none;
}

h2 a:hover {
  text-decoration: underline;
}

h3,
h3 a:link,
h3 a:visited {
  font-size: 35px;
  line-height: 37px;
  margin-bottom: 0px;
  text-decoration: none;
}

h3 a:hover {
  text-decoration: underline;
}

h4,
h4 a:link,
h4 a:visited {
  font-size: 30px;
  line-height: 29px;
  margin-bottom: 0px;
  text-decoration: none;
}

h4 a:hover {
  text-decoration: underline;
}

h5,
h5 a:link,
h5 a:visited {
  font-size: 25px;
  line-height: 27px;
  margin-bottom: 0px;
  text-decoration: none;
}

h5 a:hover {
  text-decoration: underline;
}

h6,
h6 a:link,
h6 a:visited {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 0px;
  text-decoration: none;
}

h6 a:hover {
  text-decoration: underline;
}

p, 
li {
  color: #747474;
  font-family: gentium;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
}

p strong {
  color: #5c5c5c;
}

li {
  margin-bottom: 10px;
}

a:link, 
a:visited {
  color: #333;
}

a:hover {
  color: #333;
  text-decoration: underline;
}

sup {
  vertical-align: super;
  font-size: 10px;
}

sub {
  vertical-align: sub;
  font-size: 10px;
}

blockquote {
  background: url("../images/block.png") no-repeat 0 2px;
  padding-left: 55px;
  margin: 10px 60px 10px 0;
}

blockquote p {
  color: #989898;
  font-size: 15px;
  font-style: italic;
  letter-spacing: 1px;
  line-height: 25px;
  min-height: 37px;
}

hr {
  background: #efefef;
}

.image-right {
  float: right;
  margin: 5px 0 5px 5px;
}

.image-left {
  float: left;
  margin: 0 5px 5px 5px;
}

.subhead {
  color: #a0a0a0;
  font-family: gentium;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  margin-top: -5px;
}

/** TABS **/
.tabs ul.primary li a {
  color: #4d4d4d;
  font: 13px sans-serif;
}

.tabs ul.primary li a.active {
  color: #333333;
}

/*MAIN MENU */
#zone-menu-wrapper {
  background: #181818;
}

#block-menu-block-1 .block-title {
  display: none;
}

#block-menu-block-1 li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

#block-menu-block-1 li a {
  border-right: solid 1px #9e9e9e;  
  color: #fff;
  font-family: "gill sans", "open sans", sans-serif;
  font-weight: 200;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 0px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

#block-menu-block-1 li a:hover,
#block-menu-block-1 li.active a {
  text-decoration: underline;
}

#block-menu-block-1 li.first a {
  padding-left: 0;
}

#block-menu-block-1 li.last a {
  border: none;
}

#block-menu-block-1 {
  padding: 4px 0 6px 0;
}

/** LOGIN MENU **/
#block-menu-block-2 {
  background: #181818;
  position: absolute; top: 0; right: 0;
  padding: 4px 10px;
}

#block-menu-block-2:hover {
  background: #343434;
}

#block-menu-block-2 .block-title {
  display: none;
}

#block-menu-block-2 li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

#block-menu-block-2 li a {
  color: #fff;
  font-family: "gill sans", "open sans", sans-serif;
  font-weight: 200;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

#block-menu-block-2 li a:hover {
  text-decoration: underline;
}

#block-menu-block-2 li.first a {
  border-right: solid 1px #fff; 
  padding-right: 10px;
}

#block-menu-block-2 li.last a {
  padding-left: 10px;
}

#block-menu-block-2 li.menu-mlid-378 a {
  border: none;
  padding: 0;
}

/** HEADER **/
#region-header-first {
  margin-left: 0;
}

#block-boxes-header-box .boxes-box-controls {
  display: none;
}

.header-message {
  background: #181818;
  height: 179px;
  padding: 30px;
  width: 280px;
}

.header-message h2 {
  color: #fff;
  font-family: gentium;
  font-size: 27px;
  margin-bottom: 0;
}

#block-boxes-header-gday-box {
  position: absolute; top: 26px; right: 11px;
}

#block-boxes-header-gday-box .signature {
  color: #fff;
  font-family: "rock salt";
  float: right;
  font-size: 16px;
}

#block-boxes-header-gday-box .text {
  font: 16px "gill sans", "open sans", sans-serif;
  font-weight: 200;
  font-style: italic;
  line-height: 20px;
}

/* BASIC PAGE */
.node-type-basic-page #region-content .region-inner {
  padding: 0 10px 30px 10px;
}

/**Headshot box**/
#block-boxes-about-headshot img {
  margin-bottom: 20px;
}

#block-boxes-about-headshot .quote {
  color: #A0A0A0;
  font-style: italic;
  font-size: 20px;
  font-family: "gill sans", "open sans", sans-serif;
  font-weight: 200;
  line-height: 26px;
  margin: 0 10px 10px 10px;
}

#block-boxes-about-headshot p em {
  font-size: 13px;
  margin-left: 10px;
}

/** SMALL HEADER AND TEXT AREA **/
.small-header {
  background: #181818;
}

.small-header p,
.small-header p a {
  color: #fff;
  font-family: "gill sans", "open sans", sans-serif;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
  padding: 8px 0 8px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.small-header p a:hover {
  text-decoration: underline;
}

.text-area h6 {
  margin-bottom: 10px;
}

.text-area {
  border: solid 1px #cfcfcf;
  border-top: none;
  padding: 20px;
}

.text-area p {
  font-size: 13px;
  line-height: 18px;
}

/**FOOTER**/
#zone-footer-wrapper {
  background: #181818;
}

#block-boxes-copyright-box .boxes-box-content {
  color: #515151;
  font-family: gentium;
  font-weight: 100;
  letter-spacing: 1px;
}

#block-boxes-copyright-box .symbol {
  display: block;
  float: left;
  font-size: 20px;
  margin-right: 6px;
  
}

#block-boxes-copyright-box .text {
  font-size: 13px;
  float: left;
  margin-top: 4px;
}

#block-boxes-copyright-box {
  float: right;
  padding-bottom: 20px;
}

/** FRIENDS OF ROB **/
#block-boxes-contact-friends .text-area p {
  font-size: 14px;
}

#block-boxes-contact-friends .text-area h6 {
  margin-bottom: 0px;
}

#block-boxes-contact-friends .text-area p a {
  color: #747474;
  text-decoration: none;
}

#block-boxes-contact-friends .text-area p a:hover {
  text-decoration: underline;
}

/** CONTACT DETAILS **/
#block-boxes-contact-details-box .subhead {
  font-size: 13px;
  font-style: italic;
  letter-spacing: 1px;
  margin-top: -2px;
  margin-bottom: 20px;
}

#block-boxes-contact-details-box p {
  margin: 0;
}

#block-boxes-contact-details-box img {
  float: left;
  margin-right: 15px;
}

#block-boxes-contact-details-box .text {
  font-size: 15px;
  float: left;
  margin-top: 8px;
  line-height: 16px;
  width: 100px;
}

#block-boxes-contact-details-box .email {
  color: #333;
  clear: left;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 33px;
  padding-top: 7px;
  text-decoration: underline;
}

#block-boxes-contact-details-box .small {
  font-size: 12px;
  clear: left;
  padding-top: 10px;
  line-height: 13px;
}

/** CONTACT FORM **/
#block-webform-client-block-3 .block-title {
  display: none;
}

.webform-component input,
.webform-component textarea {
  background: #ebebeb;
  border: solid 1px #d2d2d2;
  color: #3f3f3f;
  font-family: gentium;
  font-style: italic;
  font-size: 15px;
  width: 100%;
}

.webform-component textarea {
  padding-left: 15px;
  padding-top: 10px;
}

.webform-component .grippie {
  display: none;
}

.webform-component input {
  height: 40px;
  padding-left: 15px;
}

#page .form-submit {
  color: #fff;
  background: #181818;
  border: none;
  font: 19px "gentium";
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  letter-spacing: 1px;
  padding: 9px 12px;
  text-shadow: none;
  text-transform: uppercase;
}

#page .form-submit:hover {
  background: #292929;
  color: #fff;
  border: none;
}

/** HOME PAGE **/
.page-node-5 .tabs {
  display: none;
}

.page-node-5 #region-content .region-inner {
  padding: 0;
}

/* Home: Contact form */
#block-webform-client-block-4 {
  padding-bottom: 30px;
}

#block-webform-client-block-4  header {
  display: none;
}

#block-webform-client-block-4 .block-title {
  background: #181818;
  color: #fff;
  font-family: "gill sans", "open sans", sans-serif;
  font-size: 13px;
  font-weight: 100;
  height: 41px;
  letter-spacing: 2px;
  margin: 0;
  padding: 0px 0 0px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

#block-webform-client-block-4 .block-inner > .content {
  border: solid 1px #cfcfcf;
  border-top: none;
  padding: 8px 10px 10px 10px;
}

#block-webform-client-block-4 .form-item {
  margin: 8px 0;
}

#block-webform-client-block-4  .form-actions  input {
  float: right;
  margin: 0;
}

/** Home: bio box **/
#block-boxes-home-bio-box {
  border: solid 1px #cccccc;
  height: 108px;
}

#block-boxes-home-bio-box h5 {
  font-size: 27px;
}

#block-boxes-home-bio-box img {
  float: left;
}

#block-boxes-home-bio-box .bio-info {
  display: inline-block;
  margin-top: 27px;
  margin-left: -10px;
}

#block-boxes-home-bio-box .bio-info p {
  margin-top: -5px;
}

#block-boxes-home-bio-box input {
  float: right;
  margin-top: 54px;
  margin-right: 14px;
}